<h1 mat-dialog-title>Detalle de la Cancha</h1>
<mat-dialog-content class="mat-typography">
  <h2>{{ data.cancha.nombre }}</h2>
  <p>
    <b>Tipo de Cancha </b>{{ data.cancha.tipo.tipo_cancha }}
  </p>
  <p>
    <b>Nombre </b>{{ data.cancha.nombre }}
  </p>
  <p>
    <b>¿Tiene Vestuario? </b>{{ data.cancha.tiene_vestuario ? 'Sí' : 'No' }}
  </p>
  <p>
    <b>¿Tiene Iluminación? </b>{{ data.cancha.tiene_iluminacion ? 'Sí' : 'No' }}
  </p>
  <p>
    <b>¿Tiene Cesped Siténtico? </b>{{ data.cancha.tiene_cesped_sintetico ? 'Sí' : 'No' }}
  </p>
  <app-reservas-list [idCancha]="data.cancha.id"></app-reservas-list>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button [mat-dialog-close]="data.cancha" color="primary" cdkFocusInitial>
    <mat-icon>create</mat-icon>
    Editar
  </button>
  <button mat-button mat-dialog-close (click)="onCancelar()">
    <mat-icon>clear</mat-icon>
    Cerrar
  </button>
</mat-dialog-actions>
