<mat-toolbar fxFlex fxLayout fxLayoutAlign="0 center" color="primary" class="mat-elevation-z6" *ngIf="storageService.isAuthenticated()">
  <span class="brand">
    {{title}}
  </span>
  <span fxFlex fxLayout fxLayoutAlign="flex-end center">
    <a mat-bottom routerLink="/auth/canchas">
      <mat-icon>sports_soccer</mat-icon>
      Canchas
    </a>
    <a mat-bottom routerLink="/auth/login" *ngIf="!storageService.isAuthenticated()">
      <mat-icon>first_page</mat-icon>
      Iniciar Sesión
    </a>
    <a mat-bottom (click)="storageService.removeCurrentSession()" *ngIf="storageService.isAuthenticated()">
      <mat-icon>last_page</mat-icon>
      Cerrar Sesión
    </a>
  </span>
</mat-toolbar>
