<mat-form-field
    fxFlex.gt-md="40"
    fxFlex.lt-sm="80"
    matTooltip="Filtrar items de la tabla"
    matTooltipPosition="right">
    <input
      matInput
      (keyup)="sendFilterText.emit(filterText)"
      placeholder="Filtrar"
      [(ngModel)]="filterText">
  </mat-form-field>
  <mat-form-field
    fxFlex.gt-md="40"
    fxFlex.lt-sm="80"
    matTooltip="Cantidad de items a obtener"
    matTooltipPosition="left">
    <input
      matInput
      type="number"
      placeholder="Cantidad de Items"
      [(ngModel)]="cantItems">
    <button
      mat-button
      *ngIf="cantItems"
      matSuffix
      mat-icon-button
      aria-label="Obtener items"
      (click)="sendCantItems.emit(cantItems)">
      <mat-icon>search</mat-icon>
    </button>
  </mat-form-field>
